:root {
  --white-1: #f4f8f9;
  --white-2: #fafbfc;
  --white-3: #ffffff;
  --white-4: #dadada;
  --white-5: #e9eff4;
  --white-6: #f4f7f9;
  --blue-1: #4da1ff;
  --blue-2: #007aff;
  --black-1: #2a2a2a;
  --black-2: #323c47;
  --green-1: #97c66b;
  --grey-1: #808fa3;
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0px;
}
.centred {
  text-align: center;
}

.fully {
  width: 100%;
  height: 100%;
}

.lefty {
  text-align: left;
}

.righty {
  text-align: right;
}

.home-page-ctn {
  background-color: var(--white-1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* **********start : side-bar********** */

.side-bar-ctn {
  box-sizing: border-box;
  margin-right: 1px;
  width: 112px;
  border-right: 1px solid #c5c5c5;
  height: 100%;
  background-color: var(--white-2);
  padding: 20px;
}

.side-bar-logo-ctn {
  width: 100%;
  margin-bottom: 112px;
}

.logo-list-ctn {
  width: 100%;
  margin-bottom: 260px;
}

.logo-list-box {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logo-list-item {
  width: 53px;
  height: 53px;
  margin: 0px auto 62px;
  cursor: pointer;
}

.sign-out-logo-ctn {
  cursor: pointer;
  height: 53px;
  width: 53px;
  margin: auto;
}

/* **********end : side-bar********** */

/* ********** start :event container********** */

.create-events-ctn {
  background-color: var(--white-1);
}

/* ********** start :header********** */
.event-header {
  box-sizing: border-box;
  background-color: var(--white-2);
  padding: 20px;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: -1.09px;
  color: var(--blue-2);
}

.header-controls-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  width: 161px;
  height: 48px;
  background-color: var(--blue-1);
  border-radius: 2px;
  border: 0px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 29px;
  cursor: pointer;
}

/* ********** end :header********** */

/* ********** start :event-info********** */
.event-info-ctn {
  box-sizing: border-box;
  height: 85%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.event-data-card {
  box-sizing: border-box;
  width: 1100px;
  min-width: 909px;
  height: 575px;
  background-color: var(--white-3);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  padding: 35px;
}

.event-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: -0.108333px;
  color: var(--black-2);
}

.event-concept {
  width: 100%;
  height: 45px;
  margin-bottom: 11px;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: -0.108333px;
  color: var(--black-2);
  border: 1px solid var(--white-5);
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 11px;
}

.event-description-ctn {
  box-sizing: border-box;
  width: 100%;
  height: 115px;
  margin-bottom: 38px;
  border: 1px solid var(--white-5);
  border-radius: 4px;
  color: rgba(50, 60, 71, 0.5);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  padding-left: 20px;
  padding-top: 15px;
}

.time-info-ctn {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.time-box-ctn {
  width: 24%;
  height: 76px;
}

.time-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black-2);
  margin-bottom: 11px;
}

.time-box-item {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--white-5);
  border-radius: 4px;
}

.item-text {
  box-sizing: border-box;
  height: 100%;

  flex-basis: 70%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-2);
  padding-left: 11px;
  border-right: 1px solid var(--white-5);
  padding-top: 11px;
}
.icon-ctn {
  cursor: pointer;
  height: 100%;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-6);
  color: var(--blue-2);
}

.event-note-ctn {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}
.note-icon {
  height: 100%;
  color: var(--green-1);
  margin-right: 3px;
}

.note-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: var(--grey-1);
}

.location-ctn {
  width: 100;
  height: fit-content;
}

.location-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black-2);
  margin-bottom: 11px;
}

.location-field {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border: 1px solid var(--white-5);
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--black-2);
}
/* ********** end :event-info********** */

/* ********** start :invites-card********** */
.invites-card {
  box-sizing: border-box;
  min-width: 550px;
  height: 575px;
  background-color: var(--white-3);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  padding: 35px;
}

.invite-card-users {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.108333px;
  color: var(--black-2);
  margin-bottom: 10px;
}

.blue-underline {
  width: 45px;
  height: 5px;
  border-radius: 11px;
  background-color: var(--blue-1);
  margin-bottom: 10px;
}

.search-box-ctn {
  width: 100%;
  height: 45px;
  position: relative;
  margin-bottom: 38px;
}

.users-field {
  box-sizing: border-box;
  border: 1px solid var(--white-5);
  border-radius: 5px;
  padding-left: 10px;
}

.search-box-btn {
  box-sizing: border-box;
  width: 80px;
  height: 28px;
  background-color: var(--blue-1);
  color: var(--white-3);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: calc(50% - (28px / 2));
  padding-top: 6px;
}

.users-list {
  width: 100%;
  height: 300px;
  overflow: scroll;
  box-sizing: border-box;
  border-radius: 10px;
  padding-right: 100px;
}

.user-box {
  box-sizing: border-box;
  width: 100%;
  height: 233px;
  border: 1px solid var(--white-5);
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.user-info-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.user-data {
  box-sizing: border-box;
  margin-left: 10px;
  width: 50%;
}

.user-image {
  margin-right: 10px;
  width: 25%;
}

.full-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.19px;
  color: var(--black-2);
}

.email {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: rgba(50, 60, 71, 0.5);
}

.job {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: rgba(50, 60, 71, 0.614385);
}

.invites-state-ctn{
  
}
/* ********** end :invites-card********** */

/* ********** end : event container********** */
