:root{
  --white-1 :#F4F8F9;
  --white-2 : #FAFBFC;
  --white-3 : #FFFFFF;
  --white-4 : #DADADA;
  --white-5: #E9EFF4;
  --blue-1 : #4DA1FF;
  --blue-2 : #007AFF;
  --black-1:#2A2A2A;
  --black-2:#323C47;
  
}

html, body{
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
overflow: hidden ;
}
.centred {
  text-align: center;
}

.fully{
  width: 100%;
  height: 100%;
}

.lefty{
  text-align: left;
}

.righty{
  text-align: right;
}

.home-page-ctn{
  background-color: var(--white-1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* **********start : side-bar********** */

.side-bar-ctn{
  margin-right: 1px;
  width: 112px;
  border-right:1px solid #C5C5C5 ;
  height: 100%;
  background-color: var(--white-2);
  padding: 20px;
  
}


.side-bar-logo-ctn{
  width: 100%;
  margin-bottom: 112px;
}

.logo-list-ctn{
width: 100%;
margin-bottom: 260px;
}

.logo-list-box{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logo-list-item{
  width: 53px;
  height: 53px;
  margin:0px auto  62px;
  cursor: pointer;
}

.sign-out-logo-ctn{
  cursor: pointer;
  height: 53px;
  width: 53px;
  margin: auto;
}


/* **********end : side-bar********** */

/* ********** start :event container********** */

.events-ctn{
  background-color: var(--white-1);
}

/* ********** start :header********** */
.event-header{
  box-sizing: border-box;
background-color: var(--white-2);
padding: 30px;
height: 130px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.header-title{
  margin: 0px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 57px;
letter-spacing: -1.09px;
color: var(--blue-2 );
}

.header-controls-ctn{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.add-btn{
  width: 161px;
  height: 48px;
  background-color: var(--blue-1);
  border-radius: 2px;
  border: 0px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
margin-right: 29px;
cursor: pointer;}

.period-selector{
  width: 213px;
  height: 42px;
  background-color: var(--white-3);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
border-radius: 10px;
padding-left: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
color: var(--black-1);
cursor: pointer;
}

/* ********** end :header********** */

.events-cards-ctn{
  width: 100%;
  height: calc(100% - 130px);
  padding: 20px;
  box-sizing: border-box;
}
/* ********** start :first-cards-box-ctn********** */
.first-cards-box-ctn{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.first-box-item{
  cursor: pointer;
  width: 303px;
  height: 90px;
  margin-right: 30px;
  background-color: var(--white-3);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
border-radius: 20px;
padding: 30px;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.first-box-item-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 21px;
color: var(--black-2);
}

.first-box-item-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
letter-spacing: -0.1px;
color: rgba(50, 60, 71, 0.4);
}

.first-box-item-number{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 28px;
margin-right: 5px;
}

.first-box-item-options{
width: fit-content;
position: absolute;
top: 28%;
right: 30px;
}

.options-point{
  display: inline-block;
width: 5px;
height: 5px;
background-color: var(--white-4);
border-radius: 50%;
}

/* ********** end :first-cards-box-ctn********** */
/* ********** start :events-title-ctn********** */
.events-title-ctn{
margin-bottom: 30px;
}
.events-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 24px;
text-transform: capitalize;
color: var(--black-1);
margin-bottom: 15px;
}

.events-title-underline{
  width: 52px;
  height: 4px;
  background-color: var(--blue-1);
}
/* ********** end :events-title-ctn********** */
/* ********** start :second-cards-box-ctn********** */

.second-cards-box-ctn{
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.second-cards-box-item{
  padding: 30px;
  background-color: var(--white-3);
  height: 200px;
  width: 331px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}


.item-data{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
}

.item-image{
  margin-right: 23px;
  width: 80px;
}


.item-name{ 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.19px;
  color: var(--black-2);
}

.item-email{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: rgba(50, 60, 71, 0.5);
}

.item-job{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: rgba(50, 60, 71, 0.614385);
}

.item-activity{
  width: 100%;
  height: 72px;
  padding: 8px  10%;
  box-sizing: border-box;
  border: 1px solid var(--white-5);
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: relative;
}

.activity-state{
  width: calc( (100% - 30%)/ 2);
  position: relative;
}

.middle-bar{
  height: 100%;
  width: 1px;
  background-color: var(--white-5);
  position: absolute;
  top: 0px;
  left:calc(50% - 0.5px)
}
.activity-state-value{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  letter-spacing: 0.39px;
  color:var(--black-2);
  margin-bottom: 10px;
}

.activity-state-number{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
}

.activity-state-number-style{
position: absolute;
 width: 8px;
 height: 8px;
border-radius: 50%;
background-color: #FF6D4A ;
right: 31%;
top: 65%;
}
/* ********** end :second-cards-box-ctn********** */

/* ********** end : event container********** */
