:root{
  --background :#F4F8F9;
  --main-color : #4DA1FF;
}

body{
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.centred {
  text-align: center;
}

.fully{
  width: 100%;
  height: 100%;
}

.lefty{
  text-align: left;
}

.righty{
  text-align: right;
}

.login-page-ctn{
  height: 100%;
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box-ctn{
  box-sizing: border-box;
  width: 640px;
  height: 650px;
  background-color: #FFFF;
  border-radius: 20px;
  padding: 95px;
}

.logo-box-ctn{
  margin-bottom: 49px;
}
.login-title-box{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
margin-bottom: 39px;
}

.text-field{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #919191;
margin-bottom: 10px;
}
.login-field-box{
  margin-bottom: 20px;
}

.input-field{
margin-bottom: 20px;
height: 48px;
}

.field{
  box-sizing: border-box;
  border: 1px solid #E9EFF4;
border-radius: 6px;
padding-left: 20px;
}

.field:hover{
  border: 1px solid var(--main-color);
}

.login-button-ctn{
  height: 48px;
}

.login-button{
  background-color: var(--main-color);
  padding: 12px 48px;
  border: 1px solid rgba(77, 161, 255, 0.7);
border-radius: 2px;
color: #FFFF;
}

.input-pass{
position: relative;
}
.pass-icon{
  position: absolute;
  font-size: 15px;
  top: calc(50% - 7.5px);
  right: 3%;
}
