:root {
  --white-1: #f4f8f9;
  --white-2: #fafbfc;
  --white-3: #ffffff;
  --white-4: #dadada;
  --white-5: #e9eff4;
  --blue-1: #4da1ff;
  --blue-2: #007aff;
  --black-1: #2a2a2a;
  --black-2: #323c47;
  --black-3: #233539;
}

html,
body {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.centred {
  text-align: center;
}

.fully {
  width: 100%;
  height: 100%;
}

.lefty {
  text-align: left;
}

.righty {
  text-align: right;
}

.home-page-ctn {
  background-color: var(--white-1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* **********start : side-bar********** */

.side-bar-ctn {
  margin-right: 1px;
  width: 112px;
  border-right: 1px solid #c5c5c5;
  height: 100%;
  background-color: var(--white-2);
  padding: 20px;
}

.side-bar-logo-ctn {
  width: 100%;
  margin-bottom: 112px;
}

.logo-list-ctn {
  width: 100%;
  margin-bottom: 260px;
}

.logo-list-box {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logo-list-item {
  width: 53px;
  height: 53px;
  margin: 0px auto 62px;
  cursor: pointer;
}

.sign-out-logo-ctn {
  cursor: pointer;
  height: 53px;
  width: 53px;
  margin: auto;
}

/* **********end : side-bar********** */

/* ********** start :users list container********** */

.events-ctn {
  background-color: var(--white-1);
  width: 100%;
}

/* ********** start :header********** */
.event-header {
  box-sizing: border-box;
  background-color: var(--white-2);
  padding: 30px;
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: -1.09px;
  color: var(--blue-2);
}

.add-btn {
  width: 161px;
  height: 48px;
  background-color: var(--blue-1);
  border-radius: 2px;
  border: 0px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-right: 30px;
}

/* ********** end :header********** */
/* ********** start :table********** */

.table-ctn {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 130px);
  padding: 30px 60px;
}
.data-table {
  background-color: var(--white-3);
  border-radius: 20px;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 20px;
  min-width: 740px;
}

.table-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.table-row {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px solid var(--white-4);
}

.table-col {
  flex-basis: 25%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  color: var(--black-3);
}

.action-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-2);
}
.trash-icon {
  padding-right: 10px;
  width: fit-content;
  cursor: pointer;
}
.action-text {
  cursor: pointer;
  width: fit-content;
}

.pagination-ctn {
  display: flex;
  justify-content: flex-end;
}

.page.two{
  color: var(--blue-2);
  border: 1px solid var(--blue-2);
}

.page {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.angle-right {
  width: 32px;
  height: 32px;
  color: var(--blue-2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.angle-left {
  width: 32px;
  height: 32px;
  color: var(--blue-2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ********** end :table********** */

/* ********** end : users list container********** */
